@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>John Mier Bartender App</title>
</head>
<body>
    <center>
        <h1>Bartender App</h1>
        <p>This is an extreme work in progress as I wasn't able to get Visual Studios running until very shortly before the due date.</p>
    </center>

    <h2>What drink would you like to order?</h2>
    

    <select id="drinkSelection">
        <option value="Corona">Corona $3.50 </option>
        <option value="Bud Light">Bud Light $3.50 </option>
        <option value="Titos">Shot of Tito's vodka $4.50 </option>
        <option value="Cuervo">Shot of Jose Cuervo $3.50 </option>
        <option value="Cosmo">Cosmo $6 </option>
        <option value="Hurricane">Hurricane $8 </option>
    </select>

    <button type="button" onclick="orderDrink()">Order Drink</button>
    <div>
    
    </div>
</body>
</html>
